<div id="body">
    <section class="featured">
        <div class="win-content">
			<div class="win-settings-section">
				<h3>Privacy Policy</h3>
				<div>
					<p>Free Fish Encyclopedia is using Internet connection in order to provide to the client updated information about discovered fishes.</p>
					<p>Free Fish Encyclopedia does not record any personal information.</p>
				</div>
			</div>
		</div>  
    </section>
</div>
